<h2>My Heroes </h2>
<ul class="heroes">
	<li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
		<span class="badge">{{hero.id}}</span> <span>{{hero.name}}</span>
		<button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
	</li>
</ul>

<div *ngIf="selectedHero">
	<h2>{{selectedHero.name | uppercase}}</h2> is my hero
	<button (click)="gotoDetail()">View Details</button>
</div>

<div>
	<label>Hero name: </label> <input #heroName >
	<button (click)="add(heroName.value);heroName.value=''">Add</button>
</div>